example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.anim-appear {
    opacity: 0.01;
}

.anim-appear.anim-appear-active{
    opacity: 2;
    transition: opacity 0.2s ease-in;
}

.anim-enter {
    opacity: 0.01;
}

.anim-enter.anim-enter-active{
    opacity: 2;
    transition: opacity 0.2s ease-in;
}

.anim-exit {
    opacity: 2;
}

.anim-exit.anim-exit-active{
    opacity: 0.01;
    transition: opacity 0.2s ease-out;
}